body{
  margin: 0;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 50px;
}

.btn{
  display: flex;
  justify-content: space-between;
  padding:30px 100px 20px;
}
.btn div{
  background-color: black;
  color: white;
  padding: 8px 24px;
  cursor: pointer;
}